.btnTop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: #3C3F54;
}

.contentWrapperLeft {
  height: calc(100vh - 10px * 2 - 32px);

  .headerText {
    h1 {
      color: #fff;
    }

    p {
      color: grey;
    }
  }

  .inputSearch {
    margin-top: 30px;
  }

  .galleryProject {
    margin-top: 8vh;
    color: grey;

    h2 {
      color: #fff;
      display: inline;
    }

    .border {
      padding: 5px;
    }

    .active {
      border: 2px solid #fff;
      border-radius: 20px;
    }
  }
}
