@import "../Assets/scss/global";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

#containerApp {
  height: 100vh;
  //background-color: $bgTheme;
  background: url("../Assets/img/bg.jpg") no-repeat;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  animation: bg-animation 5s infinite linear;

  .left, .right {
      height: calc(100vh - 10px * 2);
  }

  .right {
    background: #fff;
    border-radius: 20px;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 100%
}

::-webkit-scrollbar-thumb {
  background: $bgTheme;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes bg-animation {
  0% {background-size: 100% 100%}
  50% {background-size: 102% 102%}
  100% {background-size: 100% 100%}
}
