@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.cardThumb {
  display: flex;
  justify-content: center;

  .card {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    outline: none;
    transition: .5s ease-in-out;
    width: 90px;
    height: 90px;
  }

  &:hover {
    transition: .5s ease-in-out;
    transform: scale(0.95);
    cursor: pointer;
    outline: none;
  }
}

.textThumb {
  margin-top: 10px;
  text-align: center;
  text-transform: capitalize;
  color: grey;
}
